!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html' }/
    %meta{ :charset => 'utf8' }/
    %title API validation and passing through DataMapper ORM example
    
    = yield_content :css
    
    %script{ :type => 'text/javascript', :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js' }
    
    = yield_content :js
    
  %body
    #main_container
      = yield
      